# CDC bridged race API query for White Flight

forked from github.com/alipphardt/cdc-wonder-api

Request URL: https://wonder.cdc.gov/controller/datarequest/D163;jsessionid=3F17CA07F14D5D17A6D847935474
Request Method: POST
Status Code: 200 200
Remote Address: 198.246.102.99:443
Referrer Policy: strict-origin-when-cross-origin
saved_id: 
dataset_code: D163
dataset_label: Bridged-Race Population Estimates 1990-2019
dataset_vintage_latest: Bridged Race
stage: request

finder-stage-D163.V2: codeset

finder-stage-D163.V9: codeset

action-Send: Send

B_1: D163.V2-level1
B_2: D163.V4
B_3: D163.V1
B_4: *None*
B_5: *None*

F_D163.V2: *All*
F_D163.V9: *All*

I_D163.V2: *All* (The United States)
I_D163.V9: *All* (The United States)

M_1: D163.M1

O_title: 
O_location: D163.V2
O_age: D163.V3
O_V9_fmode: freg
O_javascript: on
O_V2_fmode: freg
O_show_totals: true
O_precision: 0
O_timeout: 600
O_datatable: default

V_D163.V2: 
V_D163.V9: 
V_D163.V3: 18
V_D163.V3: 19
V_D163.V3: 20
V_D163.V3: 21
V_D163.V3: 22
V_D163.V3: 23
V_D163.V3: 24
V_D163.V8: *All*
V_D163.V4: *All*
V_D163.V6: 2186-5
V_D163.V1: *All*
V_D163.V5: *All*

For this example, we will focus on the [Detailed Mortality](https://wonder.cdc.gov/ucd-icd10.html) database, which provides counts or rates (crude or age-adjusted) for underlying cause of death at the national, state and county levels. Using the query tool, the user can select grouping and filtering variables that are use to generate a dataset. Results are provided as a data table which can then be exported to a tab delimited file or visualized.

WONDER provides an API that allows the same queries to be issued through a POST request to WONDER's web server. Requests and responses are issued in XML format and are detailed in the [API Documentation](https://wonder.cdc.gov/wonder/help/WONDER-API.html) page.

Each XML request consists of a series of parameter tags with name and value children in the following format:

```
<request-parameters>
    <parameter>
        <name></name>
        <value></value>
    <parameter>
    ...
</request-parameters>
```

A reference of parameter names and values can be found on [CDC WONDER Wiki page](https://loyola.campuspack.net/Groups/17FA_CS-703-501/Pet_API#/page/364768481#referenceParameters)

In [1]:
!pip install pandas
!pip install lxml
!pip install beautifulsoup4

Requirement already satisfied: pandas in /Users/Charlie/opt/anaconda3/lib/python3.7/site-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /Users/Charlie/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/Charlie/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /Users/Charlie/opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.17.4)
Requirement already satisfied: six>=1.5 in /Users/Charlie/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)
WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the '/Users/Charlie/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: lxml in /Users/Charlie/opt/anaconda3/lib/python3.7/site-packages (4.4.2)
WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the '/Users/Charlie/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: beautifulsoup4 in /Users/Charlie/opt/anaconda3/lib/python3.7/site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in /Users/Charlie/opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4) (1.9.5)
WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the '/Users/Charlie/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [170]:
# by-variables" or those parameters selected in the "Group Results By" and the "And By" drop-down lists 
# in the "Request Form." These "by-variables" are the cross-tabulations, stratifications or indexes 
# to the query results. Expect the results data table to show a row for each category in the by-variables, 
# and a column for each measure. For example, if you wish to compare data by sex, then "group results by" gender, 
# to get a row for females and a row for males in the output.
# M_ are measures to return, the default measures plus any optional measures.

# For this example, will group by year and race

b_parameters = {
    "B_1": "D163.V1",
    "B_2": "D163.V2-level2",
    "B_3": "D163.V4",
    "B_4": "*None*",
    "B_5": "*None*"
}

In [171]:
# measures to return, the default measures plus any optional measures

# For this example, include deaths, population, and crude rate

m_parameters = {
    "M_1": "D163.M1"}

In [172]:
# values highlighted in a "Finder" control for hierarchical lists, 
# such as the "Regions/Divisions/States/Counties hierarchical" list.

# For this example, include all years, months, census regions, hhs regions, states. Only include ICD-10 K00-K92
# for disease of the digestive system

f_parameters = {
    "F_D163.V2": "*All*", # state parameter
    "F_D163.V9": ["*All*"],

}

In [173]:
# contents of the "Currently selected" information areas next to "Finder" controls in the "Request Form."

# For this example, include all dates, census regions, hhs regions, and states.
# Only include ICD-10 code K00-K92 for disease of the digestive system

i_parameters = {
    "I_D163.V2": "*All*",  # year/month
    "I_D163.V9": "*All* (The United States)" # State County - dont change
    
}

In [174]:
# variable values to limit in the "where" clause of the query, found in multiple select 
# list boxes and advanced finder text entry boxes in the "Request Form."

# For this example, we want to include ten-year age groups for ages 15-44.
# For all other categories, include all values

v_parameters = {
"V_D163.V1": "1990",  
    "V_D163.V2": "",  
"V_D163.V3": ["18","19","20","21","22","23","24"],
"V_D163.V4": "*All*",   
"V_D163.V5": "*All*",    
"V_D163.V6": "2186-5",
"V_D163.V8": "*All*",
"V_D163.V9": "",    
}

In [175]:
# other parameters, such as radio buttons, checkboxes, and lists that are not data categories

# For this example, include age-adjusted rates, use ten-year age groups (D76.V5), use state location by default, 
# show rates per 100,000, use 2013 urbanization and use ICD-10 Codes (D76.V2) for cause of death category

o_parameters = {
    "O_V9_fmode": "freg",  
    "O_V2_fmode": "freg",
# Use regular finder and ignore v parameter value
    "O_age": "D163.V3",        # select age-group (e.g. ten-year, five-year, single-year, infant groups)
    "O_javascript": "on",     # Set to on by default
    "O_location": "D163.V2",   # select location variable to use (e.g. state/county, census, hhs regions)
    "O_precision": "1",       # decimal places
    "O_show_totals": "false",  # Show totals for 
    "O_timeout": "300",
    "O_title": "testrun",    # title for data run
    "O_datatable": "default",    # title for data run
    "O_change_action-Send-Export Results": "Export Results"
    
#"O_title":  "", 
#"O_location": "D163.V2",
#"O_age": "D163.V3",
#"O_V9_fmode": "freg",
#"O_javascript": "on",
#"O_V2_fmode": "freg",
#"O_show_totals": "true",
#"O_precision": "0",
#"O_timeout": "600",
#"O_datatable": "default"
}

In [176]:
# Miscellaneous hidden inputs/parameters usually passed by web form. These do not change.
misc_parameters = {
    "action-Send": "Send",
#    "finder-stage-D76.V1": "codeset",
#    "finder-stage-D76.V1": "codeset",
#    "finder-stage-D76.V2": "codeset",
#    "finder-stage-D76.V27": "codeset",
#    "finder-stage-D76.V9": "codeset",
    "stage": "request"
}

In [177]:
def createParameterList(parameterList):
    """Helper function to create a parameter list from a dictionary object"""
    
    parameterString = ""
    
    for key in parameterList:
        parameterString += "<parameter>\n"
        parameterString += "<name>" + key + "</name>\n"
        
        if isinstance(parameterList[key], list):
            for value in parameterList[key]:
                parameterString += "<value>" + value + "</value>\n"
        else:
            parameterString += "<value>" + parameterList[key] + "</value>\n"
        
        parameterString += "</parameter>\n"
        
    return parameterString

In [178]:
# BeautifulSoup library facilitates parsing of XML response
import bs4 as bs
import lxml
# This library faciliates 2-dimensional array operations and visualization
import pandas as pd

In [179]:
def xml2df(xml_data):
    """ This function grabs the root of the XML document and iterates over
        the 'r' (row) and 'c' (column) tags of the data-table
        Rows with a 'v' attribute contain a numerical value
        Rows with a 'l attribute contain a text label and may contain an
        additional 'r' (rowspan) tag which identifies how many rows the value
        should be added. If present, that label will be added to the following
        rows of the data table.
    
        Function returns a two-dimensional array or data frame that may be 
        used by the pandas library."""
    
    root = bs.BeautifulSoup(xml_data,"lxml")
    all_records = []
    row_number = 0
    rows = root.find_all("r")
    
    for row in rows:
        if row_number >= len(all_records):
            all_records.append([])
              
        for cell in row.find_all("c"):
            if 'v' in cell.attrs:
                try:
                    all_records[row_number].append(float(cell.attrs["v"].replace(',','')))
                except ValueError:
                    all_records[row_number].append(cell.attrs["v"])
            else:
                if 'r' not in cell.attrs:
                    all_records[row_number].append(cell.attrs["l"])
                else:
                
                    for row_index in range(int(cell.attrs["r"])):
                        if (row_number + row_index) >= len(all_records):
                            all_records.append([])
                            all_records[row_number + row_index].append(cell.attrs["l"])
                        else:
                            all_records[row_number + row_index].append(cell.attrs["l"])
                                           
        row_number += 1
    return all_records

In [181]:
xml_request = "<request-parameters>\n"
xml_request += createParameterList(b_parameters)
xml_request += createParameterList(m_parameters)
xml_request += createParameterList(f_parameters)
xml_request += createParameterList(i_parameters)
xml_request += createParameterList(o_parameters)
#xml_request += createParameterList(vm_parameters)
xml_request += createParameterList(v_parameters)
#xml_request += createParameterList(misc_parameters)
xml_request += "</request-parameters>"

In [182]:
import requests

url = "https://wonder.cdc.gov/controller/datarequest/D163"
response = requests.post(url, data={"request_xml": xml_request, "accept_datause_restrictions": "true"})
if response.status_code == 200:
        data = response.text
else:
        print(response.text)
        #print("something went wrong")

In [183]:
data_frame = xml2df(data)

df = pd.DataFrame(data=data_frame)

#df.head()
display(df)

          0                    1                                 2       3
0      1990   Autauga County, AL  American Indian or Alaska Native     5.0
1      1990   Autauga County, AL         Asian or Pacific Islander    15.0
2      1990   Autauga County, AL         Black or African American   794.0
3      1990   Autauga County, AL                             White  2517.0
4      1990   Baldwin County, AL  American Indian or Alaska Native    57.0
...     ...                  ...                               ...     ...
10257  1990     Uinta County, WY                             White  1254.0
10258  1990  Washakie County, WY  American Indian or Alaska Native     1.0
10259  1990  Washakie County, WY                             White   439.0
10260  1990    Weston County, WY  American Indian or Alaska Native    18.0
10261  1990    Weston County, WY                             White   397.0

[10262 rows x 4 columns]

In [ ]:
#response_dict={}

for year in range(1990,2020):
    v_parameters["V_D163.V1"]=str(year)
    xml_request = "<request-parameters>\n"
    xml_request += createParameterList(b_parameters)
    xml_request += createParameterList(m_parameters)
    xml_request += createParameterList(f_parameters)
    xml_request += createParameterList(i_parameters)
    xml_request += createParameterList(o_parameters)
    #xml_request += createParameterList(vm_parameters)
    xml_request += createParameterList(v_parameters)
    #xml_request += createParameterList(misc_parameters)
    xml_request += "</request-parameters>"
    
    print(v_parameters["V_D163.V1"])
    if str(year) not in response_dict:
        response = requests.post(url, data={"request_xml": xml_request, "accept_datause_restrictions": "true"})
        if response.status_code == 200:
            data = response.text
            response_dict[str(year)]=data
        else:
            print(response.text)
            #print("something went wrong")

1990
1991
1992
1993
1994
1995
1996
1997
1998

In [196]:
#print(response_dict['1991'])

In [208]:
df = pd.DataFrame()

for dictyear in response_dict:
    print(dictyear)
    data=response_dict[dictyear]
    data_frame = xml2df(data)
    if df.empty:
        df = pd.DataFrame(data=data_frame)
    else:
        df = df.append(pd.DataFrame(data=data_frame))

1990
1991
1992
1993
1994

In [209]:
df

          0                    1                                 2       3
0      1990   Autauga County, AL  American Indian or Alaska Native     5.0
1      1990   Autauga County, AL         Asian or Pacific Islander    15.0
2      1990   Autauga County, AL         Black or African American   794.0
3      1990   Autauga County, AL                             White  2517.0
4      1990   Baldwin County, AL  American Indian or Alaska Native    57.0
...     ...                  ...                               ...     ...
10295  1994     Uinta County, WY                             White  1485.0
10296  1994  Washakie County, WY  American Indian or Alaska Native     1.0
10297  1994  Washakie County, WY                             White   450.0
10298  1994    Weston County, WY  American Indian or Alaska Native    19.0
10299  1994    Weston County, WY                             White   440.0

[51441 rows x 4 columns]

In [186]:
df = pd.DataFrame()
df.empty == True

True

In [204]:
df.append(df2)

          0                    1                                 2       3
0      1990   Autauga County, AL  American Indian or Alaska Native     5.0
1      1990   Autauga County, AL         Asian or Pacific Islander    15.0
2      1990   Autauga County, AL         Black or African American   794.0
3      1990   Autauga County, AL                             White  2517.0
4      1990   Baldwin County, AL  American Indian or Alaska Native    57.0
...     ...                  ...                               ...     ...
10285  1991     Uinta County, WY                             White  1286.0
10286  1991  Washakie County, WY  American Indian or Alaska Native     1.0
10287  1991  Washakie County, WY                             White   424.0
10288  1991    Weston County, WY  American Indian or Alaska Native    19.0
10289  1991    Weston County, WY                             White   397.0

[20552 rows x 4 columns]